<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> <%= htmlWebpackPlugin.options.title %> </title>
</head>
<body>
    <h2>我是模板html的标题内容</h2>
    <!-- <span class="span-img"></span> -->
    <div id="root"></div>
    <img src="<%= require('./assets/images/png/baidu.png') %>" />

<!--    <script src="./src/js/Header.js"></script>-->
<!--    <script src="./src/js/Content.js"></script>-->
<!--    <script src="./src/js/Footed.js"></script>-->
<!--    &lt;!&ndash; index.js一定要在“最后位置引入”-->
<!--         因为index.js依赖其他js文件-->
<!--         需要等其他其他js文件加载完成才可以正常加载 &ndash;&gt;-->
<!--    <script src="./src/index.js"></script>-->

    <!-- <script src="./dist/bundle.js"></script> -->
    <span class="img1"></span>
    <span class="img2"></span>
    <span class="img3"></span>
    <span class="img4"></span>
</body>
</html>